*
!.gitignore
!autocrop.py
!crop_rotate_link.py
!ctk.py
!orientation_model_v2_0.9882.onnx
!orientation_detection/
orientation_detection/*
!orientation_detection/predict_onnx.py
!orientation_detection/__init__.py
!orientation_detection/config.py
!orientation_detection/src/
!orientation_detection/src/**